body {
  padding: 20px;
}

.App {
  text-align: center;
}

.icon {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .icon {
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 5rem;
}

h1, h2 {
  font-weight: 300;
}

label {
	margin-right: 0.5em;
}

.report {
	margin-top: 1em;
	font-size: 1em;
	max-width: 500px;
	margin: auto;
	text-align: left;
}

.App-link {
  color: #61dafb;
}

.attributions {
	margin-top: 20em;
}
